/*----------------------------------*\
		Headings
\*----------------------------------*/

/* heading sizes */
@each $name, $h in $headings{
  #{$name} {
    @each $area, $value in $h{
      @media #{$area} {
        font-size: $value;
      }
    }
  }
}

/* additional styling */
h1,.h1{
  line-height: 48px;
}
h2,.h2{
  line-height: 42px;
}
h3,.h3{}
h4,.h4{
}
h5,.h5{}
h6,.h6{}
