@@include(markdown('includes/header.html'))

<section>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner jumbo">
			<div class="item jumbo bg--image active" style="background-image: url('images/main1.jpg')"></div>
			<div class="item jumbo bg--image" style="background-image: url('images/main2.jpg')"></div>
			<div class="item jumbo bg--image" style="background-image: url('images/main3.jpg')"></div>
			<div class="item jumbo bg--image" style="background-image: url('images/main4.jpg')"></div>
		</div>
		<div class="carousel__front">
			<div class="container pt90">
				<div class="flex flex--between pt10">
					<img src="images/LogoColor.svg">
					<div class="flex flex--top">
						<span class="text--white pr15">Mentored by:</span>
						<img src="images/ZagLogo.svg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container pt30 pb60">
		<div class="flex flex--column-reverse-mobile">
			<div class="col-md-10 pl0 pr0">
				<p class="mb0">
					The HelloReno CoE is built on a foundation of strong collaboration between its founding partners, the
					<a href="#" class="link--normal text--green">UP</a>
					,
					<a href="#" class="link--normal text--green">Fraunhofer WKI</a>
					,
					<a href="#" class="link--normal text--green">ZAG</a>
					, and
					<a href="#" class="link--normal text--green">ZVKDS</a>.
				</p>
			</div>
			
			<div class="col-md-2 pr0 pl0 pb15">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>
			</div>
		</div>
		<div class="row pt20">
			<div class="col-md-12">
				<h2 class="text--green text-normal">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie,.
				</h2>
			</div>
		</div>
	</div>
</section>

<section class="bg--box">
	<div class="container">
		<div class="row bg--white">
			<div class="col-md-9 bg--green-alpha pt90 pb20 pt30-sm">
				<h2 class="serif">Research highlights</h2>
			</div>
		</div>
		<div class="row bg--white">
			<div class="web-absolute pt90 pb60 col-md-4 pl0 pr0 pt0-sm bg--mobile-green-alpha pl15-sm">
				<div class="height100 width100 bg--image img--mobile-full wow fadeInRight" style="background-image: url('images/spiral.png');">
					
				</div>
			</div>
			<div class="col-md-8 bg--green-alpha pb60">
				<div class="row">
					<article class="pb20 col-md-6">
						<hr>
						<p class="text--grey text-uppercase mt20 text-bold">
							PROJECT NAME LOREM IPSUM
						</p>
						<a href="#" class="text-normal h4 link--mark">
							Here comes a longeeer title
						</a>
					</article>
					<article class="pb20 col-md-6">
						<hr>
						<p class="text--grey text-uppercase mt20 text-bold">
							PROJECT NAME LOREM IPSUM
						</p>
						<a href="#" class="text-normal h4 link--mark">
							Here comes a longeeer title loremi describes a research highlights and maybe sth else lorem ipsum
						</a>
					</article>
					<article class="pb20 col-md-6">
						<hr>
						<p class="text--grey text-uppercase mt20 text-bold">
							PROJECT NAME LOREM IPSUM
						</p>
						<a href="#" class="text-normal h4 link--mark">
							Here comes a longeeer title loremi describes a research highlight
						</a>
					</article>
					<article class="pb20 col-md-6">
						<hr>
						<p class="text--grey text-uppercase mt20 text-bold">
							PROJECT NAME LOREM IPSUM
						</p>
						<a href="#" class="text-normal h4 link--mark">
							Here comes a longeeer title loremi describes a research highlight
						</a>
					</article>
				</div>
				<a class="link--arrow text--green">
					See all projects
				</a>
			</div>
			<div class="col-md-1 bg--green-alpha"></div>
		</div>
		
	</div>
</section>

<section>
	<div class="container pt90 pb90 pt45-sm">
		<h2 class="pb20 text-normal">Living Lab HelloReno</h2>
		<div class="row">
			<div class="col-md-9">
				<p>
					Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque.
				</p>
			</div>
			<div class="col-md-3">
				<div class="flex flex--center">
					<button class="btn bg--green text--white hover-d btn--xs-full">
						Join Living Lab HelloReno
					</button>
				</div>
			</div>
		</div>
		<div class="row pt30">
			<article class="col-md-3 col-sm-6 mb15">
				<div class="post__image bg--image" style="background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('images/spiral.png')  no-repeat center; background-size: cover">
					<div class="post__date flex flex--column">
						<span class="text--white h1 text-center">31</span>
						<span class="text--white text-uppercase text-center">Sep</span>
					</div>
				</div>
				<div class="pt10 pr10 pl10 pb10 bg--green-alpha">
					<p class="mb0">
						Partnering for public calls title that comes in two rows
					</p>
				</div>
			</article>
			<article class="col-md-3 col-sm-6 mb15">
				<div class="post__image bg--image" style="background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('images/spiral.png')  no-repeat center; background-size: cover">
					<div class="post__date flex flex--column">
						<span class="text--white h1 text-center">31</span>
						<span class="text--white text-uppercase text-center">Sep</span>
					</div>
				</div>
				<div class="pt10 pr10 pl10 pb10 bg--green-alpha">
					<p class="mb0">
						Partnering for public calls title that comes in two rows
					</p>
				</div>
			</article>
			<article class="col-md-3 col-sm-6 mb15">
				<div class="post__image bg--image" style="background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('images/spiral.png')  no-repeat center; background-size: cover">
					<div class="post__date flex flex--column">
						<span class="text--white h1 text-center">31</span>
						<span class="text--white text-uppercase text-center">Sep</span>
					</div>
				</div>
				<div class="pt10 pr10 pl10 pb10 bg--green-alpha">
					<p class="mb0">
						Partnering for public calls title that comes in two rows
					</p>
				</div>
			</article>
			<article class="col-md-3 col-sm-6 mb15">
				<div class="post__image bg--image" style="background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('images/spiral.png')  no-repeat center; background-size: cover">
					<div class="post__date flex flex--column">
						<span class="text--white h1 text-center">31</span>
						<span class="text--white text-uppercase text-center">Sep</span>
					</div>
				</div>
				<div class="pt10 pr10 pl10 pb10 bg--green-alpha">
					<p class="mb0">
						Partnering for public calls title that comes in two rows
					</p>
				</div>
			</article>
		</div>
		<div class="flex flex--right pt20">
			<a href="#" class="link--arrow text--green">See other events</a>
		</div>
	</div>
</section>

<section class="bg--image" style="background-image: url('images/jumbo.jpg')">
	<div class="container pt90 pb90 pt30-sm pb30-sm">
		<div class="flex">
			<div class="col-md-6 bg--white wow fadeInLeft">
				<div class="pt60 pb60 pl45 pr45 pt20-sm pb20-sm pl15-sm pr15-sm">
					<h2 class="serif">Our Services</h2>
					<article>
						<hr class="mt30 mb15">
						<h4>Partnering for public calls</h4>
						<a href="#" class="link--arrow text--green">Find out more</a>
					</article>
					<article>
						<hr class="mt30 mb15">
						<h4>Assisting SME’s ​​​​​​​in public funding</h4>
						<a href="#" class="link--arrow text--green">Find out more</a>
					</article>
					<article>
						<hr class="mt30 mb15">
						<h4>Other services</h4>
						<a href="#" class="link--arrow text--green">Find out more</a>
					</article>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container pt90 pb90 pt45-sm">
		<div class="flex flex--between pb30">
			<h2 class="text-normal">
				Lately in HelloReno CoE
			</h2>
			<button class="btn bg--green text--white hover-d text-bold hide--sm-down">
				See all
			</button>
		</div>
		<div class="row">
			<article class="col-sm-4 mb15">
				<div class="post__image bg--image line--bottom" style="background-image: url('images/spiral.png')"></div>
				<p class="text--grey text-uppercase pt15 text-bold">21 May 2017</p>
				<h3 class="text-normal pb10">Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat.</h3>
				<a href="#" class="link--light text-bold">Read more</a>
			</article>
			<article class="col-sm-4 mb15">
				<div class="post__image bg--image line--bottom" style="background-image: url('images/spiral.png')"></div>
				<p class="text--grey text-uppercase pt15 text-bold">21 May 2017</p>
				<h3 class="text-normal pb10">Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat.</h3>
				<a href="#" class="link--light text-bold">Read more</a>
			</article>
			<article class="col-sm-4 mb15">
				<div class="post__image bg--image line--bottom" style="background-image: url('images/spiral.png')"></div>
				<p class="text--grey text-uppercase pt15 text-bold">21 May 2017</p>
				<h3 class="text-normal pb10">Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat.</h3>
				<a href="#" class="link--light text-bold">Read more</a>
			</article>
		</div>
		<button class="btn bg--green text--white hover-d text-bold show show-sm show-xs btn--xs-full mt20">
			<span>See all news</span>
		</button>
		
	</div>
</section>

<section class="bg--box">
	<div class="container">
		<div class="row bg--white">
			<div class="col-md-6 bg--green-alpha pt90 pb30 pt45-sm">
				<h2 class="serif">Join our team</h2>
			</div>
		</div>
		<div class="row bg--white">
			<div class="web-absolute pt90 pb20 col-md-7 pl0 pr0 pl15-sm pt0-sm bg--mobile-green-alpha">
				<div class="height100 width100 bg--image img--mobile-half wow fadeInRight" style="background-image: url('images/spiral.png');">
				
				</div>
			</div>
			<div class="col-md-4 bg--green-alpha pb60">
				<article class="pb30">
					<hr>
					<h4 class="text-normal">
						Research Group Leaders
					</h4>
					<a href="#" class="link--arrow text--green">
						Find out more
					</a>
				</article>
				<article class="pb30">
					<hr>
					<h4 class="text-normal">
						Marketing assistant lorem ipsum
					</h4>
					<a href="#" class="link--arrow text--green">
						Find out more
					</a>
				</article>
				<article class="pb30">
					<hr>
					<h4 class="text-normal">
						Job position goes here
					</h4>
					<a href="#" class="link--arrow text--green">
						Find out more
					</a>
				</article>
				<button class="btn bg--green text--white text-bold hover-d btn--xs-full">
					See other opened jobs
				</button>
			</div>
			<div class="col-md-2 bg--green-alpha"></div>
		</div>
	
	</div>
</section>

<section>
	<div class="container pt150 pb90 pt45-sm">
		<p class="text-center text--grey text-uppercase text-bold text--xs-left">Subscribe to our newsletter</p>
		<h2 class="text-center text-normal text--xs-left">Get the most from our research and innovation center</h2>
		<form class="flex flex--center pt30" action="test.php" method="post" autocomplete="off" data-ajax novalidate>
			<div class="flex flex--bottom material mr20 mr0-sm mb15-sm">
				<input type="email" class="pb5" placeholder="Your email?" name="email" data-required="Prosim vnesi email"  data-invalid="Email ni pravilen">
				<hr>
			</div>
			<button class="btn bg--green text--white text-bold hover-d btn--xs-full">Subscribe</button>
		</form>
	</div>
</section>
<!--toast for errors -->
<div class="toast" data-error-popup="1500" data-error-text></div>
@@include(markdown('includes/footer.html'))
