<footer class="footer bg--grey-dark">
    <div class="container pt60">
	    <div class="row pb20">
		    <div class="col-md-3 pb45">
			    <h3 class="text--white serif pb30">Say hello.</h3>
			    <p class="text--white text-thin">
				    HelloReno CoE<br>
				    Livade 6<br>
				    6310 Izola, Slovenia<br>
				    <br>
				    T: <a href="tel:+38640282" class="link--normal text--green">+386 (0)40 282</a><br>
				    E: <a href="mailto:oe@HelloReno.eu" class="link--normal text--green">oe@HelloReno.eu</a><br>
					<br>
				    SI Reg. #: 7233817000<br>
				    Tax #: 65332547<br>
				    PIC #: 913540181<br>
			    </p>
		    </div>
		    <div class="col-md-3 pb30">
			    <h3 class="text--white serif pb30">Join us.</h3>
			    <article class="pb30">
				    <hr class="grey">
				    <p class="text--white text-thin mb0">Research Group Leaders</p>
				    <a href="#" class="link--arrow text--green">Find out more</a>
			    </article>
			    <article class="pb30">
				    <hr class="grey">
				    <p class="text--white text-thin mb0">Research Group Leaders</p>
				    <a href="#" class="link--arrow text--green">Find out more</a>
			    </article>
			    <article class="pb30">
				    <hr class="grey">
				    <p class="text--white text-thin mb0">Research Group Leaders</p>
				    <a href="#" class="link--arrow text--green">Find out more</a>
			    </article>
		    </div>
		    <div class="col-md-1">
			    
		    </div>
		    <div class="col-md-2">
			    <p class="text-uppercase text--grey pb30 text-bold">Navigation</p>
			    <nav class="flex flex--column">
				    
				    <a href="#" class="text--white link--normal"><p class="mb0">Home</p></a>
				    <a href="#" class="text--white link--normal"><p class="mb0">About</p></a>
				    <a href="#" class="text--white link--normal"><p class="mb0">Services</p></a>
				    <a href="#" class="text--white link--normal"><p class="mb0">Living Lab</p></a>
				    <a href="#" class="text--white link--normal"><p class="mb0">Research</p></a>
				    <a href="#" class="text--white link--normal"><p class="mb0">Contact</p></a>
			    </nav>
		    </div>
		    <div class="col-md-3">
			    <p class="text-uppercase text--grey pb30 text-bold">FOUNDING</p>
			    <img src="images/EUlogo.svg">
			    <p><small class="text--white">Horizon 2020 Framework Programme of the European Union; H2020 WIDESPREAD-2-Teaming; #739574 and the Republic of Slovenia.</small></p>
		        <p class="text-uppercase text--grey pb30 text-bold pt20">FOUNDERS</p>
			    <div class="flex">
				    <img src="images/ZagLogo.svg" class="pr15 pb10">
				    <img src="images/ZagLogo.svg" class="pr15 pb10">
				    <img src="images/ZagLogo.svg" class="pr15 pb10">
				    <img src="images/ZagLogo.svg" class="pr15 pb10">
			    </div>
		    </div>
	    </div>
	    <div class="row line--top flex--middle pt20">
		    <div class="col-sm-6 flex footer__social pb30">
			    <a href="#">
				    <img src="images/facebook.svg">
			    </a>
			    <a href="#" class="ml20">
				    <img src="images/twitter.svg">
			    </a>
			    <a href="#" class="ml20">
				    <img src="images/linkedin.svg">
			    </a>
			    <a href="#" class="ml20">
				    <img src="images/youtube.svg">
			    </a>
		    </div>
		    <div class="col-md-6 text--white text-right text--xs-left  pb30">
			    © HelloReno CoE  •  Terms & conditions  • <a href="#" class="link--normal text--green">CNJ digital</a>
		    </div>
	    </div>
    </div>
</footer>

@@include(markdown('end.html'))
