@@include(markdown('head.html'))

<header class="header">
    <div class="container">
        <div class="flex flex--between flex--middle" style="height: 70px;">
            <a href="." class="header__logo">HelloReno CoE</a>
            <nav class="header__links flex flex--middle">
                <div class="flex header__nav">
                    <img src="images/LogoColor.svg" class="show show-xs show-sm mb30-sm">
                    <a href="#" class="link--mark active">About</a>
                    <a href="#" class="link--mark">Services</a>
                    <a href="#" class="link--mark">HelloReno</a>
                    <a href="#" class="link--mark">Research</a>
                    <a href="#" class="link--mark">News</a>
                    <a href="#" class="link--mark">Contact</a>
                    
                </div>
                <div class="flex pt10-sm">
                    <a href="#" class="text-bold header__lang">SI</a>
                    <a href="#" class="text-bold header__lang active">EN</a>
                </div>
                <div class="flex flex--middle show show-xs show-sm header__social">
                    <span class="text--grey text-uppercase text-bold">
                        Follow us on:
                    </span>
                    <a href="#">
                        <img src="images/facebook.svg">
                    </a>
                    <a href="#">
                        <img src="images/twitter.svg">
                    </a>
                    <a href="#">
                        <img src="images/linkedin.svg">
                    </a>
                    <a href="#">
                        <img src="images/youtube.svg">
                    </a>
                </div>
            </nav>
            <button type="button" class="header__btn mr15">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
